<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/IamBh/IdeaProjects/SeleniumFeatureLatest">
      <classes>
          <class name="SetGeoLocation"></class>
      <class name="NetworkLogActivity">
               </class>
          <class name="NetworkMocking"></class>
          <class name="NetworkFailRequest"></class>
          <class name="BlockNetworkRequest"></class>
          <class name="BasicAuthentication"></class>
          <class name="ConsoleLogCapture"></class>
      </classes>


    </test>
</suite>